        <div class="site-footer">
          <div class="ui inverted menu">
            <div class="ui container middle aligned">
              <a href="https://twitter.com/Silenux" class="item">Twitter</a>
              <a href="https://github.com/david-mateogit" class="item"
                >Github</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
      crossorigin="anonymous"
    ></script>

  </body>
</html>
